[Desktop Entry]
Encoding=UTF-8
Name=Stadia
Type=Application
Exec=/opt/stadia-electron/stadia
Icon=xbox
StartupWMClass=xbox
Categories=Game;
Keywords=Game;Google;Stadia;
