[Desktop Entry]
Encoding=UTF-8
Name=Xbox cloud gaming
Type=Application
Exec=/opt/xbox-cloud-gaming-electron/xbox
Icon=xbox
StartupWMClass=xbox
Categories=Game;
Keywords=Game;Microsoft;Xbox;
